PORT=3000
ACCESS_TOKEN_SECRET=TOKEN_SECRET
ACCESS_TOKEN_EXPIRATION=900s
MYSQL_USER=root
MYSQL_ROOT_PASSWORD=123456
MYSQL_PORT=3306
MYSQL_HOST=localhost
MYSQL_DATABASE=monokuma_delivery
DATABASE_URL='mysql://<username>:<password>@monokuma_delivery.us-east-2.psdb.cloud/<>?ssl={"rejectUnauthorized":true}'